<!DOCTYPE html>
<html>
  <head>
    <title>Livechat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render partial: 'shared/navbar' %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="my-3">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <%= render partial: 'shared/footer' %>
  </body>
</html>
